<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../public/css/bootstrap.css">
    <link rel="stylesheet" href="../../public/css/app.min.css">
    <script src="../../public/js/jquery-1.12.3.min.js"></script>
</head>
<body>
<div class="container" ng-app="myApp">
    <div class="col-xs-4" ng-controller="myCtrl">
        <form class="form-group">
            firstName：<input type="text" class="form-control" ng-model="user.firstName">
            lastName：<input type="text" class="form-control" ng-model="user.lastName">
            <button class="btn btn-default" ng-click="reset()">reset</button>
            <p>form = {{user}}</p>
            <p>master = {{master}}</p>
        </form>
    </div>
</div>
</body>
</html>
<script src="angular.min.js"></script>
<script>
    var app = angular.module("myApp", []);
    app.controller("myCtrl", function ($scope) {
        $scope.master = {firstName: "John", lastName: "Doe"};
        $scope.reset = function () {
            $scope.user = angular.copy($scope.master);
        };
        $scope.reset();
    });
</script>
