<include file="Common@Public/header" />
<body class="">
<section class="vbox">
            <header class="bg-white-only header header-md navbar navbar-fixed-top-xs">
                <div class="row wrapper-sm">
                    <div class="col-md-12">
                        <div class="btn-group btn-group-justified no-radius">
                            <a href="#" class="btn btn-primary no-radius">最新</a>
                            <a href="#" class="btn btn-danger no-radius">热点</a>
                            <a href="#" class="btn btn-primary no-radius">推荐</a>
                            <a href="#" class="btn btn-primary no-radius">本周</a>
                        </div>
                        <div class="row bg-white m-t-xs">
                            <div class="col-xs-12">
                                <span class="text-xs">客服语音&nbsp;&nbsp;&nbsp;交通数据&nbsp;&nbsp;&nbsp;路况数据&nbsp;&nbsp;&nbsp;人机交互&nbsp;&nbsp;&nbsp;方言</span>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <section id="content">
                <section class="vbox">
                    <section class="scrollable">

                        <include file="Common@Public/loading" />
                        <div class="row hide" id="main_info">
                            <div class="col-xs-12">

                                <!--<div class="panel clearfix m-b-sm m-t-lg">-->
                                    <!--<div class="panel-body">-->
                                        <!--<a href="#" class="thumb-md pull-left m-r">-->
                                            <!--<img src="http://datamall-images.s3.mall.ekaidian.com/cc/42/5e/71ad645ffac4fb3745c41041229bdb48.png?1448419842#h" class="" />-->
                                        <!--</a>-->
                                        <!--<div class="clear">-->
                                            <!--<a href="#" class="text-danger">#官方#全领域客服语音数据</a>-->
                                            <!--<small class="block text-muted">覆盖医疗、金融、旅游、教育等10个领域，500小时有效时长，文字转写错误率<5%，用于语音识别、人机智能交互等</small>-->
                                            <!--<div class="m-t-xs">-->
                                                <!--<a href="#" class="btn btn-xs m-b-xs btn-default btn-rounded">客服</a>-->
                                                <!--<a href="#" class="btn btn-xs m-b-xs btn-default btn-rounded">语音</a>-->
                                                <!--<a href="#" class="btn btn-xs m-b-xs btn-default btn-rounded">医疗</a>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="panel clearfix m-b-xs">-->
                                    <!--<div class="panel-body">-->
                                        <!--<a href="{:U('/home/index/detail')}" class="thumb-md pull-left m-r">-->
                                            <!--<img src="http://datamall-images.s3.mall.ekaidian.com/c5/42/10/861f3e79dd93a74ec208550b624162f0.png?1448432385#h" class="" />-->
                                        <!--</a>-->
                                        <!--<div class="clear">-->
                                            <!--<a href="{:U('/home/index/detail')}" class="text-danger">#官方#北京交通电台路况播报数据</a>-->
                                            <!--<small class="block text-muted">573万北京交通电台路况播报数据，3年完整记录北京市区交通路况，可用交通流量分析、智慧交通、商业选址等</small>-->
                                            <!--<div class="m-t-xs">-->
                                                <!--<a href="#" class="btn btn-xs m-b-xs btn-default btn-rounded">交通</a>-->
                                                <!--<a href="#" class="btn btn-xs m-b-xs btn-default btn-rounded">电台</a>-->
                                                <!--<a href="#" class="btn btn-xs m-b-xs btn-default btn-rounded">路况</a>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->


                                <div class="m-r m-t-xl m-b-none">
                                    <div class="text-right">
                                        <a class="badge  bg-light lter no-radius no-borders">需求11</a>
                                        <a class="badge  bg-danger no-radius no-borders">元数据</a>
                                        <a class="badge bg-light lter no-radius no-borders">服务</a>
                                        <a class="badge  bg-light lter no-radius no-borders">应用</a>
                                        <a class="badge  bg-light lter no-radius no-borders">API</a>
                                    </div>
                                </div>

                                <section class="panel m-b-none" style="background-color: #FCF8E2">
                                    <div class="m-t-xs m-l-sm clear">
                                        <div class="pull-left">
                                            <span class="badge  bg-primary no-radius no-borders">需求</span>
                                            <span class=" text-muted text-xs m-l-xs">发布时间: 2016-02-16 11:23</span>
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <div class="clearfix m-b-xs">

                                            <a href="#" class="thumb-sm pull-left m-r-sm">
                                                <img src="http://wx.qlogo.cn/mmopen/VjiaCvFh3vx76IMib3NEHibfEdib8sgkc0uxT27P2cNomibWNicicsnSXiaKM6VLJodw7EXmvggIYS47Vklpsfib1x3UMPFp4cSicraZSR/0" class="img-circle" /> </a>
                                            <div class="clear font-style">
                                                <div>
                                                    <a href="#">来自<strong>四喜丸子</strong></a>
                                                    <small class="text-muted pull-right font-style">
                                                        <span class="">悬赏: <span class="text-danger">¥5,000</span></span>
                                                    </small>
                                                </div>
                                                <small class="block text-muted text-xs">四川, 成都</small>
                                            </div>
                                        </div>
                                        <h4 class="m-t-sm m-b-xs ">
                                            <a href="{:U('/home/index/info')}"><span class="text-primary">汽车之家的论坛数据</span></a>
                                        </h4>
                                        <div class="m-t-none m-b-sm">
                                            <a href="{:U('/home/index/info')}">
                                            爬取汽车之家论坛2013~2015年间的所有国产汽车品牌板块的所有用户行为及发帖回帖数据.
                                            <br/><br/>包括发帖次数，发帖/回帖列表，各板块活跃度排名，各版块版主活跃度排名，各板块论坛帖数占比等.
                                                </a>
                                        </div>

                                        <small class="m-t-sm text-xs text-muted font-style">
                                            <span class="m-r">阅读: <span class="text-black">167</span></span>
                                            <span class="m-r">留言: <span class="text-black">25</span></span>
                                            <span class="">已有 <span class="text-black">10</span> 位用户给出方案</span>
                                        </small>
                                    </div>
                                    <!--<footer class="panel-footer pos-rlt">-->
                                        <!--&lt;!&ndash;<span class="arrow top"></span>&ndash;&gt;-->
                                        <!--<form class="pull-out">-->
                                            <!--<div class="input-group m-b-none">-->
                                                <!--<input type="text" class="form-control no-border input-lg text-sm" placeholder="快速留言..." />-->
                                        <!--<span class="input-group-btn">-->
                                            <!--<button class="btn btn-white text-sm" type="button">提交留言</button>-->
                                        <!--</span>-->
                                        <!--<span class="input-group-btn">-->
                                            <!--<button class="btn btn-white text-sm" type="button">查看详情 <i class="i i-arrow-right4"></i></button>-->
                                        <!--</span>-->
                                            <!--</div>-->
                                        <!--</form>-->
                                    <!--</footer>-->
                                </section>


                                <section class="panel m-t-sm m-b-none">
                                    <div class="m-t-xs m-l-sm clear">
                                        <div class="pull-left">
                                            <span class="badge bg-danger no-radius no-borders">产品</span>
                                            <span class=" text-muted text-xs m-l-xs">发布时间: 2016-02-16 11:23</span>
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <div class="clearfix m-b-xs">
                                            <a href="#" class="thumb-sm pull-left m-r-sm">
                                                <img src="http://wx.qlogo.cn/mmopen/L7F3RyiajnWwLzia4QbXTXMSl4CHhxtqj5ZlfB4pvz4s9AEAyqiaFOhibBn608lw79UXbPt3LZtqcYfYGY0SBiaGjgZ4SYV1SU6Lib/0" class="img-circle" /> </a>
                                            <div class="clear font-style">
                                                <div>
                                                    <a href="#">来自<strong>前方数据</strong></a>
                                                    <small class="text-muted pull-right font-style">
                                                        <span class="">一口价: <span class="text-danger">¥5,000</span></span>
                                                    </small>
                                                </div>
                                                <small class="block text-muted text-xs">四川, 成都</small>
                                            </div>
                                        </div>
                                        <h4 class="m-t-sm m-b-xs text-danger">
                                            <a href="{:U('/home/index/detail')}"><span class="text-danger">汽车之家的论坛数据</span></a>
                                        </h4>
                                        <div class="m-t-none m-b-sm">爬取汽车之家论坛2013~2015年间的所有国产汽车品牌板块的所有用户行为及发帖回帖数据.
                                            <br/><br/>包括发帖次数，发帖/回帖列表，各板块活跃度排名，各版块版主活跃度排名，各板块论坛帖数占比等.
                                        </div>

                                        <small class="m-t-sm text-xs text-muted font-style">
                                            <span class="m-r">阅读: <span class="text-black">167</span></span>
                                            <span class="m-r">留言: <span class="text-black">25</span></span>
                                            <span class="">已售:  <span class="text-black">10</span> </span>
                                        </small>
                                    </div>
                                    <!--<footer class="panel-footer pos-rlt">-->
                                        <!--&lt;!&ndash;<span class="arrow top"></span>&ndash;&gt;-->
                                        <!--<form class="pull-out">-->
                                            <!--<div class="input-group m-b-none">-->
                                                <!--<input type="text" class="form-control no-border input-lg text-sm" placeholder="快速留言..." />-->
                                        <!--<span class="input-group-btn">-->
                                            <!--<button class="btn btn-white text-sm" type="button">提交留言</button>-->
                                        <!--</span>-->
                                        <!--<span class="input-group-btn">-->
                                            <!--<button class="btn btn-white text-sm" type="button">查看详情 <i class="i i-arrow-right4"></i></button>-->
                                        <!--</span>-->
                                            <!--</div>-->
                                        <!--</form>-->
                                    <!--</footer>-->
                                </section>
                                <section class="panel m-t-sm m-b-none">
                                    <div class="m-t-xs m-l-sm clear">
                                        <div class="pull-left">
                                            <span class="badge bg-danger no-radius no-borders">API</span>
                                            <span class=" text-muted text-xs m-l-xs">发布时间: 2016-02-16 11:23</span>
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <div class="clearfix m-b-xs">
                                            <a href="#" class="thumb-sm pull-left m-r-sm">
                                                <img src="http://wx.qlogo.cn/mmopen/L7F3RyiajnWwLzia4QbXTXMSl4CHhxtqj5ZlfB4pvz4s9AEAyqiaFOhibBn608lw79UXbPt3LZtqcYfYGY0SBiaGjgZ4SYV1SU6Lib/0" class="img-circle" /> </a>
                                            <div class="clear font-style">
                                                <div>
                                                    <a href="#">来自<strong>前方数据</strong></a>
                                                    <small class="text-muted pull-right font-style">
                                                        <span class="">一口价: <span class="text-danger">¥5,000</span></span>
                                                    </small>
                                                </div>
                                                <small class="block text-muted text-xs">四川, 成都</small>
                                            </div>
                                        </div>
                                        <h4 class="m-t-sm m-b-xs text-danger">
                                            <a href="{:U('/home/index/detail')}"><span class="text-danger">汽车之家的论坛数据</span></a>
                                        </h4>
                                        <div class="m-t-none m-b-sm">爬取汽车之家论坛2013~2015年间的所有国产汽车品牌板块的所有用户行为及发帖回帖数据.
                                            <br/><br/>包括发帖次数，发帖/回帖列表，各板块活跃度排名，各版块版主活跃度排名，各板块论坛帖数占比等.
                                        </div>

                                        <small class="m-t-sm text-xs text-muted font-style">
                                            <span class="m-r">阅读: <span class="text-black">167</span></span>
                                            <span class="m-r">留言: <span class="text-black">25</span></span>
                                            <span class="">已售:  <span class="text-black">10</span> </span>
                                        </small>
                                    </div>
                                    <!--<footer class="panel-footer pos-rlt">-->
                                    <!--&lt;!&ndash;<span class="arrow top"></span>&ndash;&gt;-->
                                    <!--<form class="pull-out">-->
                                    <!--<div class="input-group m-b-none">-->
                                    <!--<input type="text" class="form-control no-border input-lg text-sm" placeholder="快速留言..." />-->
                                    <!--<span class="input-group-btn">-->
                                    <!--<button class="btn btn-white text-sm" type="button">提交留言</button>-->
                                    <!--</span>-->
                                    <!--<span class="input-group-btn">-->
                                    <!--<button class="btn btn-white text-sm" type="button">查看详情 <i class="i i-arrow-right4"></i></button>-->
                                    <!--</span>-->
                                    <!--</div>-->
                                    <!--</form>-->
                                    <!--</footer>-->
                                </section>
                                <section class="panel m-t-sm m-b-none">
                                    <div class="m-t-xs m-l-sm clear">
                                        <div class="pull-left">
                                            <span class="badge bg-danger no-radius no-borders">服务</span>
                                            <span class=" text-muted text-xs m-l-xs">发布时间: 2016-02-16 11:23</span>
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <div class="clearfix m-b-xs">
                                            <a href="#" class="thumb-sm pull-left m-r-sm">
                                                <img src="http://wx.qlogo.cn/mmopen/L7F3RyiajnWwLzia4QbXTXMSl4CHhxtqj5ZlfB4pvz4s9AEAyqiaFOhibBn608lw79UXbPt3LZtqcYfYGY0SBiaGjgZ4SYV1SU6Lib/0" class="img-circle" /> </a>
                                            <div class="clear font-style">
                                                <div>
                                                    <a href="#">来自<strong>前方数据</strong></a>
                                                    <small class="text-muted pull-right font-style">
                                                        <span class="">一口价: <span class="text-danger">¥5,000</span></span>
                                                    </small>
                                                </div>
                                                <small class="block text-muted text-xs">四川, 成都</small>
                                            </div>
                                        </div>
                                        <h4 class="m-t-sm m-b-xs text-danger">
                                            <a href="{:U('/home/index/detail')}"><span class="text-danger">汽车之家的论坛数据</span></a>
                                        </h4>
                                        <div class="m-t-none m-b-sm">爬取汽车之家论坛2013~2015年间的所有国产汽车品牌板块的所有用户行为及发帖回帖数据.
                                            <br/><br/>包括发帖次数，发帖/回帖列表，各板块活跃度排名，各版块版主活跃度排名，各板块论坛帖数占比等.
                                        </div>

                                        <small class="m-t-sm text-xs text-muted font-style">
                                            <span class="m-r">阅读: <span class="text-black">167</span></span>
                                            <span class="m-r">留言: <span class="text-black">25</span></span>
                                            <span class="">已售:  <span class="text-black">10</span> </span>
                                        </small>
                                    </div>
                                    <!--<footer class="panel-footer pos-rlt">-->
                                    <!--&lt;!&ndash;<span class="arrow top"></span>&ndash;&gt;-->
                                    <!--<form class="pull-out">-->
                                    <!--<div class="input-group m-b-none">-->
                                    <!--<input type="text" class="form-control no-border input-lg text-sm" placeholder="快速留言..." />-->
                                    <!--<span class="input-group-btn">-->
                                    <!--<button class="btn btn-white text-sm" type="button">提交留言</button>-->
                                    <!--</span>-->
                                    <!--<span class="input-group-btn">-->
                                    <!--<button class="btn btn-white text-sm" type="button">查看详情 <i class="i i-arrow-right4"></i></button>-->
                                    <!--</span>-->
                                    <!--</div>-->
                                    <!--</form>-->
                                    <!--</footer>-->
                                </section>

                                <section class="panel m-t-sm m-b-none">
                                    <div class="m-t-xs m-l-sm clear">
                                        <div class="pull-left">
                                            <span class="badge bg-danger no-radius no-borders">源数据</span>
                                            <span class=" text-muted text-xs m-l-xs">发布时间: 2016-02-16 11:23</span>
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <div class="clearfix m-b-xs">
                                            <a href="#" class="thumb-sm pull-left m-r-sm">
                                                <img src="http://wx.qlogo.cn/mmopen/L7F3RyiajnWwLzia4QbXTXMSl4CHhxtqj5ZlfB4pvz4s9AEAyqiaFOhibBn608lw79UXbPt3LZtqcYfYGY0SBiaGjgZ4SYV1SU6Lib/0" class="img-circle" /> </a>
                                            <div class="clear font-style">
                                                <div>
                                                    <a href="#">来自<strong>前方数据</strong></a>
                                                    <small class="text-muted pull-right font-style">
                                                        <span class="">一口价: <span class="text-danger">¥5,000</span></span>
                                                    </small>
                                                </div>
                                                <small class="block text-muted text-xs">四川, 成都</small>
                                            </div>
                                        </div>
                                        <h4 class="m-t-sm m-b-xs text-danger">
                                            <a href="{:U('/home/index/detail')}"><span class="text-danger">汽车之家的论坛数据</span></a>
                                        </h4>
                                        <div class="m-t-none m-b-sm">爬取汽车之家论坛2013~2015年间的所有国产汽车品牌板块的所有用户行为及发帖回帖数据.
                                            <br/><br/>包括发帖次数，发帖/回帖列表，各板块活跃度排名，各版块版主活跃度排名，各板块论坛帖数占比等.
                                        </div>

                                        <small class="m-t-sm text-xs text-muted font-style">
                                            <span class="m-r">阅读: <span class="text-black">167</span></span>
                                            <span class="m-r">留言: <span class="text-black">25</span></span>
                                            <span class="">已售:  <span class="text-black">10</span> </span>
                                        </small>
                                    </div>
                                    <!--<footer class="panel-footer pos-rlt">-->
                                    <!--&lt;!&ndash;<span class="arrow top"></span>&ndash;&gt;-->
                                    <!--<form class="pull-out">-->
                                    <!--<div class="input-group m-b-none">-->
                                    <!--<input type="text" class="form-control no-border input-lg text-sm" placeholder="快速留言..." />-->
                                    <!--<span class="input-group-btn">-->
                                    <!--<button class="btn btn-white text-sm" type="button">提交留言</button>-->
                                    <!--</span>-->
                                    <!--<span class="input-group-btn">-->
                                    <!--<button class="btn btn-white text-sm" type="button">查看详情 <i class="i i-arrow-right4"></i></button>-->
                                    <!--</span>-->
                                    <!--</div>-->
                                    <!--</form>-->
                                    <!--</footer>-->
                                </section>

                                <section class="panel m-t-sm m-b-none">
                                    <div class="m-t-xs m-l-sm clear">
                                        <div class="pull-left">
                                            <span class="badge bg-danger no-radius no-borders">应用</span>
                                            <span class=" text-muted text-xs m-l-xs">发布时间: 2016-02-16 11:23</span>
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <div class="clearfix m-b-xs">

                                            <a href="#" class="thumb-sm pull-left m-r-sm">
                                                <img src="http://wx.qlogo.cn/mmopen/ajNVdqHZLLCuSU8d2T0KR1rgulQmfbCWjLGn52nMgoFPZiahyaFl3HocRFFiaJ0lu8I6oMjoU8Q5eJicUhphDgW6g/0" class="img-circle" /> </a>
                                            <div class="clear font-style">
                                                <div>
                                                    <a href="#">来自<strong>成都互动物联</strong></a>
                                                    <small class="text-muted pull-right font-style">
                                                        <span class="">一口价: <span class="text-danger">¥5,000</span></span>
                                                    </small>
                                                </div>
                                                <small class="block text-muted text-xs">四川, 成都</small>
                                            </div>
                                        </div>
                                        <h4 class="m-t-sm m-b-xs text-danger">
                                            <a href="{:U('/home/index/detail')}"><span class="text-danger">汽车之家的论坛数据</span></a>
                                        </h4>
                                        <div class="m-t-none m-b-sm">爬取汽车之家论坛2013~2015年间的所有国产汽车品牌板块的所有用户行为及发帖回帖数据.
                                            <br/><br/>包括发帖次数，发帖/回帖列表，各板块活跃度排名，各版块版主活跃度排名，各板块论坛帖数占比等.
                                        </div>

                                        <small class="m-t-sm text-xs text-muted font-style">
                                            <span class="m-r">阅读: <span class="text-black">167</span></span>
                                            <span class="m-r">留言: <span class="text-black">25</span></span>
                                            <span class="">已售:  <span class="text-black">8</span> </span>
                                        </small>
                                    </div>
                                    <!--<footer class="panel-footer pos-rlt">-->
                                        <!--&lt;!&ndash;<span class="arrow top"></span>&ndash;&gt;-->
                                        <!--<form class="pull-out">-->
                                            <!--<div class="input-group m-b-none">-->
                                                <!--<input type="text" class="form-control no-border input-lg text-sm" placeholder="快速留言..." />-->
                                        <!--<span class="input-group-btn">-->
                                            <!--<button class="btn btn-white text-sm" type="button">提交留言</button>-->
                                        <!--</span>-->
                                        <!--<span class="input-group-btn">-->
                                            <!--<button class="btn btn-white text-sm" type="button">查看详情 <i class="i i-arrow-right4"></i></button>-->
                                        <!--</span>-->
                                            <!--</div>-->
                                        <!--</form>-->
                                    <!--</footer>-->
                                </section>


                            </div>

                        </div>


                    </section>
                    <div style="margin-top:65px">

                    </div>
                </section>
            </section>
            <footer class="footer bg-white lt navbar-fixed-bottom b-t">
                <div class="row  text-center">

                    <div class="col-xs-3 m-b-xs m-t-sm">
                        <a href="#">
                            <div class="text-danger"><i class="icon icon-home h4"></i></div>
                            <div class="clearfix">
                                <span class="text-danger text-xs">交易大厅</span>
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-3  m-b-xs m-t-sm">
                        <a href="{:U('/request/index')}">
                            <div class=""><i class="icon icon-speech h4"></i></div>
                            <div class="clearfix">
                                <span class=" text-xs">发需求</span>
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-3  m-b-xs m-t-sm">
                        <a href="{:U('/chance/index')}">
                            <div class=""><i class="icon icon-globe h4"></i></div>
                            <div class="clearfix">
                                <span class=" text-xs">找商机</span>
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-3 m-b-xs m-t-sm">
                        <a href="{$profile}">
                            <div class=""><i class="icon icon-user h4"></i></div>
                            <div class="clearfix">
                                <span class=" text-xs">我的主页</span>
                            </div>
                        </a>
                    </div>

                </div>
            </footer>
</section>

<include file="Common@Public/footer" />
