.btn{
    color: #9a3789;
    position: relative;
    display: block;
    margin: 20px auto;
    width: 100%;
    height: 80px;
    max-width: 250px;
    text-transform: uppercase;
    overflow: hidden;
    border: 1px solid currentColor;
    line-height: 30px;
}
.btn:hover{
    color: #e1c4dc;
}
.btn:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 80px;
    background: #520c46;
}
.btn:hover:before {
    width: 250px;
}
.btn:active {
    background: #881474;
}
@-webkit-keyframes criss-cross-left {
    0% {
        left: -20px;
    }
    50% {
        left: 50%;
        width: 20px;
        height: 20px;
    }
    100% {
        left: 50%;
        width: 375px;
        height: 375px;
    }
}

@keyframes criss-cross-left {
    0% {
        left: -20px;
    }
    50% {
        left: 50%;
        width: 20px;
        height: 20px;
    }
    100% {
        left: 50%;
        width: 375px;
        height: 375px;
    }
}
@-webkit-keyframes criss-cross-right {
    0% {
        right: -20px;
    }
    50% {
        right: 50%;
        width: 20px;
        height: 20px;
    }
    100% {
        right: 50%;
        width: 375px;
        height: 375px;
    }
}
@keyframes criss-cross-right {
    0% {
        right: -20px;
    }
    50% {
        right: 50%;
        width: 20px;
        height: 20px;
    }
    100% {
        right: 50%;
        width: 375px;
        height: 375px;
    }
}


.btn,.btn:after,.btn_brfore{
    box-sizing: border-box;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}