$nav-color: #F90;
nav {
  $width: 100px;
  width: $width;
  color: $nav-color;
}

article a {
  color: blue;
  &:hover { color: red }
}
.button, button {
  margin: 0;
}
.container h1, .container h2, .container h3 { margin-bottom: .8em }
.container {
  h1, h2, h3 {margin-bottom: .8em}
}
nav, aside {
  a {color: blue}
}
header + p { font-size: 1.1em }

.main{
  background-color: red;
  &:hover{
    background-color: blue;
  }
}


.speaker{
  @extend h1;
  color:blue;
}

h1{
  border:1px solid red;
}

%ir{
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
#header{
  h1{
    @extend %ir;
    width:300px;
  }
}
.ir{
  @extend %ir;
}




$baseFontSize:      10px !default;
$gray:              #ccc!default;

// pixels to rems
@function pxToRem($px) {
  @return $px / $baseFontSize * 1rem;
}

body{
  font-size:$baseFontSize;
  color:lighten($gray,10%);
}
.test{
  font-size:pxToRem(16px);
  color:darken($gray,10%);
}