@keyframes move {
  0% {
    top: 173px; }
  1% {
    top: 171.51433px; }
  2% {
    top: 167.30873px; }
  3% {
    top: 160.76202px; }
  4% {
    top: 152.24979px; }
  5% {
    top: 142.13848px; }
  6% {
    top: 130.78015px; }
  7% {
    top: 118.5082px; }
  8% {
    top: 105.63378px; }
  9% {
    top: 92.44305px; }
  10% {
    top: 79.19521px; }
  11% {
    top: 66.12106px; }
  12% {
    top: 53.42241px; }
  13% {
    top: 41.27187px; }
  14% {
    top: 29.81324px; }
  15% {
    top: 19.16235px; }
  16% {
    top: 9.40825px; }
  17% {
    top: 0.61473px; }
  18% {
    top: -7.1779px; }
  19% {
    top: -13.95083px; }
  20% {
    top: -19.70468px; }
  21% {
    top: -24.45721px; }
  22% {
    top: -28.24117px; }
  23% {
    top: -31.102px; }
  24% {
    top: -33.09564px; }
  25% {
    top: -34.28637px; }
  26% {
    top: -34.74483px; }
  27% {
    top: -34.54605px; }
  28% {
    top: -33.76773px; }
  29% {
    top: -32.48857px; }
  30% {
    top: -30.78688px; }
  31% {
    top: -28.73926px; }
  32% {
    top: -26.4195px; }
  33% {
    top: -23.89767px; }
  34% {
    top: -21.23933px; }
  35% {
    top: -18.50493px; }
  36% {
    top: -15.7494px; }
  37% {
    top: -13.02178px; }
  38% {
    top: -10.36512px; }
  39% {
    top: -7.81638px; }
  40% {
    top: -5.40654px; }
  41% {
    top: -3.1607px; }
  42% {
    top: -1.09835px; }
  43% {
    top: 0.76633px; }
  44% {
    top: 2.42411px; }
  45% {
    top: 3.87031px; }
  46% {
    top: 5.10437px; }
  47% {
    top: 6.12936px; }
  48% {
    top: 6.95157px; }
  49% {
    top: 7.58001px; }
  50% {
    top: 8.02594px; }
  51% {
    top: 8.30246px; }
  52% {
    top: 8.42402px; }
  53% {
    top: 8.4061px; }
  54% {
    top: 8.26478px; }
  55% {
    top: 8.0164px; }
  56% {
    top: 7.67727px; }
  57% {
    top: 7.26339px; }
  58% {
    top: 6.79024px; }
  59% {
    top: 6.27253px; }
  60% {
    top: 5.72406px; }
  61% {
    top: 5.1576px; }
  62% {
    top: 4.58479px; }
  63% {
    top: 4.01603px; }
  64% {
    top: 3.4605px; }
  65% {
    top: 2.92613px; }
  66% {
    top: 2.41956px; }
  67% {
    top: 1.94623px; }
  68% {
    top: 1.51039px; }
  69% {
    top: 1.1152px; }
  70% {
    top: 0.76275px; }
  71% {
    top: 0.45418px; }
  72% {
    top: 0.18974px; }
  73% {
    top: -0.03106px; }
  74% {
    top: -0.20942px; }
  75% {
    top: -0.34712px; }
  76% {
    top: -0.44641px; }
  77% {
    top: -0.50994px; }
  78% {
    top: -0.54068px; }
  79% {
    top: -0.5418px; }
  80% {
    top: -0.51659px; }
  81% {
    top: -0.46844px; }
  82% {
    top: -0.4007px; }
  83% {
    top: -0.31668px; }
  84% {
    top: -0.21956px; }
  85% {
    top: -0.11233px; }
  86% {
    top: 0.0022px; }
  87% {
    top: 0.1215px; }
  88% {
    top: 0.24331px; }
  89% {
    top: 0.36571px; }
  90% {
    top: 0.48712px; }
  91% {
    top: 0.60639px; }
  92% {
    top: 0.72276px; }
  93% {
    top: 0.83602px; }
  94% {
    top: 0.94649px; }
  95% {
    top: 1.05516px; }
  96% {
    top: 1.16379px; }
  97% {
    top: 1.27511px; }
  98% {
    top: 1.39298px; }
  99% {
    top: 1.52273px; }
  100% {
    top: 1.24539px; } }
@-webkit-keyframes move {
  0% {
    top: 173px; }
  1% {
    top: 171.51433px; }
  2% {
    top: 167.30873px; }
  3% {
    top: 160.76202px; }
  4% {
    top: 152.24979px; }
  5% {
    top: 142.13848px; }
  6% {
    top: 130.78015px; }
  7% {
    top: 118.5082px; }
  8% {
    top: 105.63378px; }
  9% {
    top: 92.44305px; }
  10% {
    top: 79.19521px; }
  11% {
    top: 66.12106px; }
  12% {
    top: 53.42241px; }
  13% {
    top: 41.27187px; }
  14% {
    top: 29.81324px; }
  15% {
    top: 19.16235px; }
  16% {
    top: 9.40825px; }
  17% {
    top: 0.61473px; }
  18% {
    top: -7.1779px; }
  19% {
    top: -13.95083px; }
  20% {
    top: -19.70468px; }
  21% {
    top: -24.45721px; }
  22% {
    top: -28.24117px; }
  23% {
    top: -31.102px; }
  24% {
    top: -33.09564px; }
  25% {
    top: -34.28637px; }
  26% {
    top: -34.74483px; }
  27% {
    top: -34.54605px; }
  28% {
    top: -33.76773px; }
  29% {
    top: -32.48857px; }
  30% {
    top: -30.78688px; }
  31% {
    top: -28.73926px; }
  32% {
    top: -26.4195px; }
  33% {
    top: -23.89767px; }
  34% {
    top: -21.23933px; }
  35% {
    top: -18.50493px; }
  36% {
    top: -15.7494px; }
  37% {
    top: -13.02178px; }
  38% {
    top: -10.36512px; }
  39% {
    top: -7.81638px; }
  40% {
    top: -5.40654px; }
  41% {
    top: -3.1607px; }
  42% {
    top: -1.09835px; }
  43% {
    top: 0.76633px; }
  44% {
    top: 2.42411px; }
  45% {
    top: 3.87031px; }
  46% {
    top: 5.10437px; }
  47% {
    top: 6.12936px; }
  48% {
    top: 6.95157px; }
  49% {
    top: 7.58001px; }
  50% {
    top: 8.02594px; }
  51% {
    top: 8.30246px; }
  52% {
    top: 8.42402px; }
  53% {
    top: 8.4061px; }
  54% {
    top: 8.26478px; }
  55% {
    top: 8.0164px; }
  56% {
    top: 7.67727px; }
  57% {
    top: 7.26339px; }
  58% {
    top: 6.79024px; }
  59% {
    top: 6.27253px; }
  60% {
    top: 5.72406px; }
  61% {
    top: 5.1576px; }
  62% {
    top: 4.58479px; }
  63% {
    top: 4.01603px; }
  64% {
    top: 3.4605px; }
  65% {
    top: 2.92613px; }
  66% {
    top: 2.41956px; }
  67% {
    top: 1.94623px; }
  68% {
    top: 1.51039px; }
  69% {
    top: 1.1152px; }
  70% {
    top: 0.76275px; }
  71% {
    top: 0.45418px; }
  72% {
    top: 0.18974px; }
  73% {
    top: -0.03106px; }
  74% {
    top: -0.20942px; }
  75% {
    top: -0.34712px; }
  76% {
    top: -0.44641px; }
  77% {
    top: -0.50994px; }
  78% {
    top: -0.54068px; }
  79% {
    top: -0.5418px; }
  80% {
    top: -0.51659px; }
  81% {
    top: -0.46844px; }
  82% {
    top: -0.4007px; }
  83% {
    top: -0.31668px; }
  84% {
    top: -0.21956px; }
  85% {
    top: -0.11233px; }
  86% {
    top: 0.0022px; }
  87% {
    top: 0.1215px; }
  88% {
    top: 0.24331px; }
  89% {
    top: 0.36571px; }
  90% {
    top: 0.48712px; }
  91% {
    top: 0.60639px; }
  92% {
    top: 0.72276px; }
  93% {
    top: 0.83602px; }
  94% {
    top: 0.94649px; }
  95% {
    top: 1.05516px; }
  96% {
    top: 1.16379px; }
  97% {
    top: 1.27511px; }
  98% {
    top: 1.39298px; }
  99% {
    top: 1.52273px; }
  100% {
    top: 1.24539px; } }
@keyframes move2 {
  0% {
    top: 259px; }
  1% {
    top: 251.92364px; }
  2% {
    top: 241.3977px; }
  3% {
    top: 227.99053px; }
  4% {
    top: 212.255px; }
  5% {
    top: 194.72092px; }
  6% {
    top: 175.88863px; }
  7% {
    top: 156.22388px; }
  8% {
    top: 136.15387px; }
  9% {
    top: 116.06432px; }
  10% {
    top: 96.2977px; }
  11% {
    top: 77.15227px; }
  12% {
    top: 58.88204px; }
  13% {
    top: 41.69748px; }
  14% {
    top: 25.76687px; }
  15% {
    top: 11.21822px; }
  16% {
    top: -1.85834px; }
  17% {
    top: -13.40779px; }
  18% {
    top: -23.40722px; }
  19% {
    top: -31.86255px; }
  20% {
    top: -38.80518px; }
  21% {
    top: -44.28858px; }
  22% {
    top: -48.38489px; }
  23% {
    top: -51.18158px; }
  24% {
    top: -52.77825px; }
  25% {
    top: -53.28355px; }
  26% {
    top: -52.81234px; }
  27% {
    top: -51.48302px; }
  28% {
    top: -49.41514px; }
  29% {
    top: -46.72724px; }
  30% {
    top: -43.53495px; }
  31% {
    top: -39.94938px; }
  32% {
    top: -36.07572px; }
  33% {
    top: -32.01216px; }
  34% {
    top: -27.849px; }
  35% {
    top: -23.668px; }
  36% {
    top: -19.542px; }
  37% {
    top: -15.53465px; }
  38% {
    top: -11.70042px; }
  39% {
    top: -8.08465px; }
  40% {
    top: -4.7239px; }
  41% {
    top: -1.64623px; }
  42% {
    top: 1.12824px; }
  43% {
    top: 3.58679px; }
  44% {
    top: 5.72353px; }
  45% {
    top: 7.53864px; }
  46% {
    top: 9.03776px; }
  47% {
    top: 10.23123px; }
  48% {
    top: 11.13339px; }
  49% {
    top: 11.76192px; }
  50% {
    top: 12.1371px; }
  51% {
    top: 12.28124px; }
  52% {
    top: 12.21801px; }
  53% {
    top: 11.97193px; }
  54% {
    top: 11.56786px; }
  55% {
    top: 11.03049px; }
  56% {
    top: 10.38401px; }
  57% {
    top: 9.6517px; }
  58% {
    top: 8.85567px; }
  59% {
    top: 8.01661px; }
  60% {
    top: 7.15359px; }
  61% {
    top: 6.28394px; }
  62% {
    top: 5.42314px; }
  63% {
    top: 4.58477px; }
  64% {
    top: 3.78048px; }
  65% {
    top: 3.02005px; }
  66% {
    top: 2.3114px; }
  67% {
    top: 1.66067px; }
  68% {
    top: 1.07234px; }
  69% {
    top: 0.54931px; }
  70% {
    top: 0.09306px; }
  71% {
    top: -0.29623px; }
  72% {
    top: -0.61954px; }
  73% {
    top: -0.87886px; }
  74% {
    top: -1.07702px; }
  75% {
    top: -1.21759px; }
  76% {
    top: -1.30468px; }
  77% {
    top: -1.34286px; }
  78% {
    top: -1.33701px; }
  79% {
    top: -1.29217px; }
  80% {
    top: -1.21351px; }
  81% {
    top: -1.10614px; }
  82% {
    top: -0.97509px; }
  83% {
    top: -0.82518px; }
  84% {
    top: -0.661px; }
  85% {
    top: -0.48683px; }
  86% {
    top: -0.30658px; }
  87% {
    top: -0.12376px; }
  88% {
    top: 0.05854px; }
  89% {
    top: 0.23771px; }
  90% {
    top: 0.41165px; }
  91% {
    top: 0.57877px; }
  92% {
    top: 0.73806px; }
  93% {
    top: 0.88911px; }
  94% {
    top: 1.03219px; }
  95% {
    top: 1.16832px; }
  96% {
    top: 1.29939px; }
  97% {
    top: 1.42827px; }
  98% {
    top: 1.55911px; }
  99% {
    top: 1.69751px; }
  100% {
    top: 1.42528px; } }
@-webkit-keyframes move2 {
  0% {
    top: 259px; }
  1% {
    top: 251.92364px; }
  2% {
    top: 241.3977px; }
  3% {
    top: 227.99053px; }
  4% {
    top: 212.255px; }
  5% {
    top: 194.72092px; }
  6% {
    top: 175.88863px; }
  7% {
    top: 156.22388px; }
  8% {
    top: 136.15387px; }
  9% {
    top: 116.06432px; }
  10% {
    top: 96.2977px; }
  11% {
    top: 77.15227px; }
  12% {
    top: 58.88204px; }
  13% {
    top: 41.69748px; }
  14% {
    top: 25.76687px; }
  15% {
    top: 11.21822px; }
  16% {
    top: -1.85834px; }
  17% {
    top: -13.40779px; }
  18% {
    top: -23.40722px; }
  19% {
    top: -31.86255px; }
  20% {
    top: -38.80518px; }
  21% {
    top: -44.28858px; }
  22% {
    top: -48.38489px; }
  23% {
    top: -51.18158px; }
  24% {
    top: -52.77825px; }
  25% {
    top: -53.28355px; }
  26% {
    top: -52.81234px; }
  27% {
    top: -51.48302px; }
  28% {
    top: -49.41514px; }
  29% {
    top: -46.72724px; }
  30% {
    top: -43.53495px; }
  31% {
    top: -39.94938px; }
  32% {
    top: -36.07572px; }
  33% {
    top: -32.01216px; }
  34% {
    top: -27.849px; }
  35% {
    top: -23.668px; }
  36% {
    top: -19.542px; }
  37% {
    top: -15.53465px; }
  38% {
    top: -11.70042px; }
  39% {
    top: -8.08465px; }
  40% {
    top: -4.7239px; }
  41% {
    top: -1.64623px; }
  42% {
    top: 1.12824px; }
  43% {
    top: 3.58679px; }
  44% {
    top: 5.72353px; }
  45% {
    top: 7.53864px; }
  46% {
    top: 9.03776px; }
  47% {
    top: 10.23123px; }
  48% {
    top: 11.13339px; }
  49% {
    top: 11.76192px; }
  50% {
    top: 12.1371px; }
  51% {
    top: 12.28124px; }
  52% {
    top: 12.21801px; }
  53% {
    top: 11.97193px; }
  54% {
    top: 11.56786px; }
  55% {
    top: 11.03049px; }
  56% {
    top: 10.38401px; }
  57% {
    top: 9.6517px; }
  58% {
    top: 8.85567px; }
  59% {
    top: 8.01661px; }
  60% {
    top: 7.15359px; }
  61% {
    top: 6.28394px; }
  62% {
    top: 5.42314px; }
  63% {
    top: 4.58477px; }
  64% {
    top: 3.78048px; }
  65% {
    top: 3.02005px; }
  66% {
    top: 2.3114px; }
  67% {
    top: 1.66067px; }
  68% {
    top: 1.07234px; }
  69% {
    top: 0.54931px; }
  70% {
    top: 0.09306px; }
  71% {
    top: -0.29623px; }
  72% {
    top: -0.61954px; }
  73% {
    top: -0.87886px; }
  74% {
    top: -1.07702px; }
  75% {
    top: -1.21759px; }
  76% {
    top: -1.30468px; }
  77% {
    top: -1.34286px; }
  78% {
    top: -1.33701px; }
  79% {
    top: -1.29217px; }
  80% {
    top: -1.21351px; }
  81% {
    top: -1.10614px; }
  82% {
    top: -0.97509px; }
  83% {
    top: -0.82518px; }
  84% {
    top: -0.661px; }
  85% {
    top: -0.48683px; }
  86% {
    top: -0.30658px; }
  87% {
    top: -0.12376px; }
  88% {
    top: 0.05854px; }
  89% {
    top: 0.23771px; }
  90% {
    top: 0.41165px; }
  91% {
    top: 0.57877px; }
  92% {
    top: 0.73806px; }
  93% {
    top: 0.88911px; }
  94% {
    top: 1.03219px; }
  95% {
    top: 1.16832px; }
  96% {
    top: 1.29939px; }
  97% {
    top: 1.42827px; }
  98% {
    top: 1.55911px; }
  99% {
    top: 1.69751px; }
  100% {
    top: 1.42528px; } }

/*# sourceMappingURL=gotop.css.map */
