@keyframes move {
  0% {
    left: 50vw; }
  1% {
    left: 49.56812vw; }
  2% {
    left: 48.34556vw; }
  3% {
    left: 46.44245vw; }
  4% {
    left: 43.96796vw; }
  5% {
    left: 41.02863vw; }
  6% {
    left: 37.72679vw; }
  7% {
    left: 34.15936vw; }
  8% {
    left: 30.4168vw; }
  9% {
    left: 26.58228vw; }
  10% {
    left: 22.73116vw; }
  11% {
    left: 18.93054vw; }
  12% {
    left: 15.23907vw; }
  13% {
    left: 11.70694vw; }
  14% {
    left: 8.37594vw; }
  15% {
    left: 5.27975vw; }
  16% {
    left: 2.44426vw; }
  17% {
    left: -0.112vw; }
  18% {
    left: -2.3773vw; }
  19% {
    left: -4.34617vw; }
  20% {
    left: -6.0188vw; }
  21% {
    left: -7.40035vw; }
  22% {
    left: -8.50034vw; }
  23% {
    left: -9.33198vw; }
  24% {
    left: -9.91152vw; }
  25% {
    left: -10.25767vw; }
  26% {
    left: -10.39094vw; }
  27% {
    left: -10.33316vw; }
  28% {
    left: -10.1069vw; }
  29% {
    left: -9.73505vw; }
  30% {
    left: -9.24037vw; }
  31% {
    left: -8.64513vw; }
  32% {
    left: -7.97079vw; }
  33% {
    left: -7.2377vw; }
  34% {
    left: -6.46492vw; }
  35% {
    left: -5.67004vw; }
  36% {
    left: -4.86901vw; }
  37% {
    left: -4.0761vw; }
  38% {
    left: -3.30381vw; }
  39% {
    left: -2.5629vw; }
  40% {
    left: -1.86237vw; }
  41% {
    left: -1.20951vw; }
  42% {
    left: -0.60998vw; }
  43% {
    left: -0.06793vw; }
  44% {
    left: 0.41399vw; }
  45% {
    left: 0.83439vw; }
  46% {
    left: 1.19313vw; }
  47% {
    left: 1.49109vw; }
  48% {
    left: 1.73011vw; }
  49% {
    left: 1.91279vw; }
  50% {
    left: 2.04243vw; }
  51% {
    left: 2.12281vw; }
  52% {
    left: 2.15815vw; }
  53% {
    left: 2.15294vw; }
  54% {
    left: 2.11185vw; }
  55% {
    left: 2.03965vw; }
  56% {
    left: 1.94107vw; }
  57% {
    left: 1.82075vw; }
  58% {
    left: 1.68321vw; }
  59% {
    left: 1.53271vw; }
  60% {
    left: 1.37327vw; }
  61% {
    left: 1.20861vw; }
  62% {
    left: 1.04209vw; }
  63% {
    left: 0.87675vw; }
  64% {
    left: 0.71526vw; }
  65% {
    left: 0.55992vw; }
  66% {
    left: 0.41266vw; }
  67% {
    left: 0.27507vw; }
  68% {
    left: 0.14837vw; }
  69% {
    left: 0.03349vw; }
  70% {
    left: -0.06897vw; }
  71% {
    left: -0.15867vw; }
  72% {
    left: -0.23554vw; }
  73% {
    left: -0.29973vw; }
  74% {
    left: -0.35158vw; }
  75% {
    left: -0.3916vw; }
  76% {
    left: -0.42047vw; }
  77% {
    left: -0.43894vw; }
  78% {
    left: -0.44787vw; }
  79% {
    left: -0.4482vw; }
  80% {
    left: -0.44087vw; }
  81% {
    left: -0.42687vw; }
  82% {
    left: -0.40718vw; }
  83% {
    left: -0.38276vw; }
  84% {
    left: -0.35452vw; }
  85% {
    left: -0.32335vw; }
  86% {
    left: -0.29006vw; }
  87% {
    left: -0.25538vw; }
  88% {
    left: -0.21997vw; }
  89% {
    left: -0.18439vw; }
  90% {
    left: -0.14909vw; }
  91% {
    left: -0.11442vw; }
  92% {
    left: -0.08059vw; }
  93% {
    left: -0.04767vw; }
  94% {
    left: -0.01556vw; }
  95% {
    left: 0.01603vw; }
  96% {
    left: 0.04761vw; }
  97% {
    left: 0.07997vw; }
  98% {
    left: 0.11424vw; }
  99% {
    left: 0.15196vw; }
  100% {
    left: 0.07133vw; } }
@-webkit-keyframes move {
  0% {
    left: 50vw; }
  1% {
    left: 49.56812vw; }
  2% {
    left: 48.34556vw; }
  3% {
    left: 46.44245vw; }
  4% {
    left: 43.96796vw; }
  5% {
    left: 41.02863vw; }
  6% {
    left: 37.72679vw; }
  7% {
    left: 34.15936vw; }
  8% {
    left: 30.4168vw; }
  9% {
    left: 26.58228vw; }
  10% {
    left: 22.73116vw; }
  11% {
    left: 18.93054vw; }
  12% {
    left: 15.23907vw; }
  13% {
    left: 11.70694vw; }
  14% {
    left: 8.37594vw; }
  15% {
    left: 5.27975vw; }
  16% {
    left: 2.44426vw; }
  17% {
    left: -0.112vw; }
  18% {
    left: -2.3773vw; }
  19% {
    left: -4.34617vw; }
  20% {
    left: -6.0188vw; }
  21% {
    left: -7.40035vw; }
  22% {
    left: -8.50034vw; }
  23% {
    left: -9.33198vw; }
  24% {
    left: -9.91152vw; }
  25% {
    left: -10.25767vw; }
  26% {
    left: -10.39094vw; }
  27% {
    left: -10.33316vw; }
  28% {
    left: -10.1069vw; }
  29% {
    left: -9.73505vw; }
  30% {
    left: -9.24037vw; }
  31% {
    left: -8.64513vw; }
  32% {
    left: -7.97079vw; }
  33% {
    left: -7.2377vw; }
  34% {
    left: -6.46492vw; }
  35% {
    left: -5.67004vw; }
  36% {
    left: -4.86901vw; }
  37% {
    left: -4.0761vw; }
  38% {
    left: -3.30381vw; }
  39% {
    left: -2.5629vw; }
  40% {
    left: -1.86237vw; }
  41% {
    left: -1.20951vw; }
  42% {
    left: -0.60998vw; }
  43% {
    left: -0.06793vw; }
  44% {
    left: 0.41399vw; }
  45% {
    left: 0.83439vw; }
  46% {
    left: 1.19313vw; }
  47% {
    left: 1.49109vw; }
  48% {
    left: 1.73011vw; }
  49% {
    left: 1.91279vw; }
  50% {
    left: 2.04243vw; }
  51% {
    left: 2.12281vw; }
  52% {
    left: 2.15815vw; }
  53% {
    left: 2.15294vw; }
  54% {
    left: 2.11185vw; }
  55% {
    left: 2.03965vw; }
  56% {
    left: 1.94107vw; }
  57% {
    left: 1.82075vw; }
  58% {
    left: 1.68321vw; }
  59% {
    left: 1.53271vw; }
  60% {
    left: 1.37327vw; }
  61% {
    left: 1.20861vw; }
  62% {
    left: 1.04209vw; }
  63% {
    left: 0.87675vw; }
  64% {
    left: 0.71526vw; }
  65% {
    left: 0.55992vw; }
  66% {
    left: 0.41266vw; }
  67% {
    left: 0.27507vw; }
  68% {
    left: 0.14837vw; }
  69% {
    left: 0.03349vw; }
  70% {
    left: -0.06897vw; }
  71% {
    left: -0.15867vw; }
  72% {
    left: -0.23554vw; }
  73% {
    left: -0.29973vw; }
  74% {
    left: -0.35158vw; }
  75% {
    left: -0.3916vw; }
  76% {
    left: -0.42047vw; }
  77% {
    left: -0.43894vw; }
  78% {
    left: -0.44787vw; }
  79% {
    left: -0.4482vw; }
  80% {
    left: -0.44087vw; }
  81% {
    left: -0.42687vw; }
  82% {
    left: -0.40718vw; }
  83% {
    left: -0.38276vw; }
  84% {
    left: -0.35452vw; }
  85% {
    left: -0.32335vw; }
  86% {
    left: -0.29006vw; }
  87% {
    left: -0.25538vw; }
  88% {
    left: -0.21997vw; }
  89% {
    left: -0.18439vw; }
  90% {
    left: -0.14909vw; }
  91% {
    left: -0.11442vw; }
  92% {
    left: -0.08059vw; }
  93% {
    left: -0.04767vw; }
  94% {
    left: -0.01556vw; }
  95% {
    left: 0.01603vw; }
  96% {
    left: 0.04761vw; }
  97% {
    left: 0.07997vw; }
  98% {
    left: 0.11424vw; }
  99% {
    left: 0.15196vw; }
  100% {
    left: 0.07133vw; } }
@keyframes move2 {
  0% {
    left: 75vw; }
  1% {
    left: 72.94292vw; }
  2% {
    left: 69.88305vw; }
  3% {
    left: 65.98562vw; }
  4% {
    left: 61.41134vw; }
  5% {
    left: 56.31422vw; }
  6% {
    left: 50.83972vw; }
  7% {
    left: 45.12322vw; }
  8% {
    left: 39.28891vw; }
  9% {
    left: 33.44893vw; }
  10% {
    left: 27.70282vw; }
  11% {
    left: 22.13729vw; }
  12% {
    left: 16.82618vw; }
  13% {
    left: 11.83066vw; }
  14% {
    left: 7.19967vw; }
  15% {
    left: 2.97041vw; }
  16% {
    left: -0.83091vw; }
  17% {
    left: -4.18831vw; }
  18% {
    left: -7.09512vw; }
  19% {
    left: -9.55307vw; }
  20% {
    left: -11.57127vw; }
  21% {
    left: -13.16528vw; }
  22% {
    left: -14.35607vw; }
  23% {
    left: -15.16906vw; }
  24% {
    left: -15.63321vw; }
  25% {
    left: -15.7801vw; }
  26% {
    left: -15.64312vw; }
  27% {
    left: -15.25669vw; }
  28% {
    left: -14.65556vw; }
  29% {
    left: -13.8742vw; }
  30% {
    left: -12.94621vw; }
  31% {
    left: -11.90389vw; }
  32% {
    left: -10.77783vw; }
  33% {
    left: -9.59656vw; }
  34% {
    left: -8.38634vw; }
  35% {
    left: -7.17093vw; }
  36% {
    left: -5.97151vw; }
  37% {
    left: -4.80659vw; }
  38% {
    left: -3.69198vw; }
  39% {
    left: -2.64089vw; }
  40% {
    left: -1.66392vw; }
  41% {
    left: -0.76925vw; }
  42% {
    left: 0.03728vw; }
  43% {
    left: 0.75197vw; }
  44% {
    left: 1.37312vw; }
  45% {
    left: 1.90077vw; }
  46% {
    left: 2.33656vw; }
  47% {
    left: 2.6835vw; }
  48% {
    left: 2.94575vw; }
  49% {
    left: 3.12846vw; }
  50% {
    left: 3.23753vw; }
  51% {
    left: 3.27943vw; }
  52% {
    left: 3.26105vw; }
  53% {
    left: 3.18952vw; }
  54% {
    left: 3.07205vw; }
  55% {
    left: 2.91584vw; }
  56% {
    left: 2.72791vw; }
  57% {
    left: 2.51503vw; }
  58% {
    left: 2.28363vw; }
  59% {
    left: 2.03971vw; }
  60% {
    left: 1.78884vw; }
  61% {
    left: 1.53603vw; }
  62% {
    left: 1.2858vw; }
  63% {
    left: 1.04208vw; }
  64% {
    left: 0.80828vw; }
  65% {
    left: 0.58722vw; }
  66% {
    left: 0.38122vw; }
  67% {
    left: 0.19206vw; }
  68% {
    left: 0.02103vw; }
  69% {
    left: -0.13101vw; }
  70% {
    left: -0.26364vw; }
  71% {
    left: -0.37681vw; }
  72% {
    left: -0.4708vw; }
  73% {
    left: -0.54618vw; }
  74% {
    left: -0.60379vw; }
  75% {
    left: -0.64465vw; }
  76% {
    left: -0.66996vw; }
  77% {
    left: -0.68106vw; }
  78% {
    left: -0.67936vw; }
  79% {
    left: -0.66633vw; }
  80% {
    left: -0.64346vw; }
  81% {
    left: -0.61225vw; }
  82% {
    left: -0.57415vw; }
  83% {
    left: -0.53057vw; }
  84% {
    left: -0.48285vw; }
  85% {
    left: -0.43222vw; }
  86% {
    left: -0.37982vw; }
  87% {
    left: -0.32668vw; }
  88% {
    left: -0.27368vw; }
  89% {
    left: -0.2216vw; }
  90% {
    left: -0.17103vw; }
  91% {
    left: -0.12245vw; }
  92% {
    left: -0.07615vw; }
  93% {
    left: -0.03223vw; }
  94% {
    left: 0.00936vw; }
  95% {
    left: 0.04893vw; }
  96% {
    left: 0.08703vw; }
  97% {
    left: 0.1245vw; }
  98% {
    left: 0.16253vw; }
  99% {
    left: 0.20276vw; }
  100% {
    left: 0.12363vw; } }
@-webkit-keyframes move2 {
  0% {
    left: 75vw; }
  1% {
    left: 72.94292vw; }
  2% {
    left: 69.88305vw; }
  3% {
    left: 65.98562vw; }
  4% {
    left: 61.41134vw; }
  5% {
    left: 56.31422vw; }
  6% {
    left: 50.83972vw; }
  7% {
    left: 45.12322vw; }
  8% {
    left: 39.28891vw; }
  9% {
    left: 33.44893vw; }
  10% {
    left: 27.70282vw; }
  11% {
    left: 22.13729vw; }
  12% {
    left: 16.82618vw; }
  13% {
    left: 11.83066vw; }
  14% {
    left: 7.19967vw; }
  15% {
    left: 2.97041vw; }
  16% {
    left: -0.83091vw; }
  17% {
    left: -4.18831vw; }
  18% {
    left: -7.09512vw; }
  19% {
    left: -9.55307vw; }
  20% {
    left: -11.57127vw; }
  21% {
    left: -13.16528vw; }
  22% {
    left: -14.35607vw; }
  23% {
    left: -15.16906vw; }
  24% {
    left: -15.63321vw; }
  25% {
    left: -15.7801vw; }
  26% {
    left: -15.64312vw; }
  27% {
    left: -15.25669vw; }
  28% {
    left: -14.65556vw; }
  29% {
    left: -13.8742vw; }
  30% {
    left: -12.94621vw; }
  31% {
    left: -11.90389vw; }
  32% {
    left: -10.77783vw; }
  33% {
    left: -9.59656vw; }
  34% {
    left: -8.38634vw; }
  35% {
    left: -7.17093vw; }
  36% {
    left: -5.97151vw; }
  37% {
    left: -4.80659vw; }
  38% {
    left: -3.69198vw; }
  39% {
    left: -2.64089vw; }
  40% {
    left: -1.66392vw; }
  41% {
    left: -0.76925vw; }
  42% {
    left: 0.03728vw; }
  43% {
    left: 0.75197vw; }
  44% {
    left: 1.37312vw; }
  45% {
    left: 1.90077vw; }
  46% {
    left: 2.33656vw; }
  47% {
    left: 2.6835vw; }
  48% {
    left: 2.94575vw; }
  49% {
    left: 3.12846vw; }
  50% {
    left: 3.23753vw; }
  51% {
    left: 3.27943vw; }
  52% {
    left: 3.26105vw; }
  53% {
    left: 3.18952vw; }
  54% {
    left: 3.07205vw; }
  55% {
    left: 2.91584vw; }
  56% {
    left: 2.72791vw; }
  57% {
    left: 2.51503vw; }
  58% {
    left: 2.28363vw; }
  59% {
    left: 2.03971vw; }
  60% {
    left: 1.78884vw; }
  61% {
    left: 1.53603vw; }
  62% {
    left: 1.2858vw; }
  63% {
    left: 1.04208vw; }
  64% {
    left: 0.80828vw; }
  65% {
    left: 0.58722vw; }
  66% {
    left: 0.38122vw; }
  67% {
    left: 0.19206vw; }
  68% {
    left: 0.02103vw; }
  69% {
    left: -0.13101vw; }
  70% {
    left: -0.26364vw; }
  71% {
    left: -0.37681vw; }
  72% {
    left: -0.4708vw; }
  73% {
    left: -0.54618vw; }
  74% {
    left: -0.60379vw; }
  75% {
    left: -0.64465vw; }
  76% {
    left: -0.66996vw; }
  77% {
    left: -0.68106vw; }
  78% {
    left: -0.67936vw; }
  79% {
    left: -0.66633vw; }
  80% {
    left: -0.64346vw; }
  81% {
    left: -0.61225vw; }
  82% {
    left: -0.57415vw; }
  83% {
    left: -0.53057vw; }
  84% {
    left: -0.48285vw; }
  85% {
    left: -0.43222vw; }
  86% {
    left: -0.37982vw; }
  87% {
    left: -0.32668vw; }
  88% {
    left: -0.27368vw; }
  89% {
    left: -0.2216vw; }
  90% {
    left: -0.17103vw; }
  91% {
    left: -0.12245vw; }
  92% {
    left: -0.07615vw; }
  93% {
    left: -0.03223vw; }
  94% {
    left: 0.00936vw; }
  95% {
    left: 0.04893vw; }
  96% {
    left: 0.08703vw; }
  97% {
    left: 0.1245vw; }
  98% {
    left: 0.16253vw; }
  99% {
    left: 0.20276vw; }
  100% {
    left: 0.12363vw; } }

/*# sourceMappingURL=gotop.css.map */
