body{
    background-color: #1A1A1A;
    padding: 0;
    margin: 0;
    border: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "WenQuanYi Micro Hei", "Microsoft YaHei UI", "Microsoft YaHei", sans-serif;
}
.ad{
    z-index: 19;
}
.navbar-inverse {
    background-color: #222;
    border-color: #1A1A1A;
}
.speedbar {
    height: 30px;
    padding: 8px 20px 13px;
    line-height: 23px;
    color: #666;
    font-size: 14px;
    background-color: #1A1A1A;
    overflow: hidden;
    clear: both;
}
.m-t-lg{
    margin-top: 40px;
}
.m-t-md{
    margin-top: 20px;
}
.m-t-sm{
    margin-top: 10px;
}
.m-t-xs{
    margin-top: 5px;
}
.first-bg{
    margin-top: 50px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width:100%;
    min-height: 700px;

}
#firstbg{
    background-image: url("http://i4.piimg.com/b6598c4bd509b198.jpg");
}
.carousel-control.left {
    background-image: -webkit-linear-gradient(left,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%);
    background-image: -o-linear-gradient(left,rgba(0,0,0,.5) 0,rgba(0,0,0,0) 100%);
    background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,0)),to(rgba(0,0,0,0)));
    background-image: linear-gradient(to right,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
    background-repeat: repeat-x;
}
.carousel-control.right {
    right: 0;
    left: auto;
    background-image: -webkit-linear-gradient(left,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%);
    background-image: -o-linear-gradient(left,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%);
    background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,0)),to(rgba(0,0,0,0)));
    background-image: linear-gradient(to right,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
    background-repeat: repeat-x;
}
.carousel-caption{
    color: #000;
}
.firstcontent{
    color: #e67e22;
    margin-top: 100px;

}
.firstcontent a{
    color: #e67e22;
    text-decoration: none;
}
.firstcontent a:hover{
    color: #eee;
    transition:all 0.3s ease-in-out ;
}
.slide{
    width:300px;
    margin: 0 auto;
    margin-top: 150px;
}
.item{
    width:300px;
}
.firstcontent h1{
    font-size: 50px;
    line-height: 75px;
}
.firstcontent p{
    font-size: 20px;
    line-height: 35px;
}

.main-footer{
    background: #202020;
    padding:35px 0 0;
    color: #959595;
}
.main-footer .widget{
    padding: 0 30px;

}

.main-footer .widget .title{
    color: #ffffff;
    border-bottom: 1px #303030;
}
.widget .title{
    margin-top: 0;
    padding-bottom: 7px;
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 21px;
    position: relative;
}

.main-footer .widget .recent-single-post{
    border-bottom:1px dashed #303030;
    padding-bottom: 14px;
    margin-bottom: 14px;
}


.main-footer .widget .recent-single-post .post-title {
    color: #959595;
}
.main-footer .widget .recent-single-post .post-title:hover{
    color:#e67e22;
    text-decoration: none;
    transition:all 0.3s ease-in-out ;
}

.main-footer .widget .recent-single-post .date{
    color: #505050;
}

.widget .title:after{
    content: '';
    width:90px;
    height: 1px;
    background: #e67e22;
    position: absolute;
    left:0;
    bottom: -1px;
}
.main-footer .widget .tag-cloud a{
    color:#959595;
    border:1px solid #303030 ;
    text-decoration:none;
    line-height: 50px;
    padding: 5px;

}
.main-footer .widget .tag-friend {
    border-bottom:1px dashed #303030 ;
    padding-bottom: 10px;
    padding-top: 15px;

}
.main-footer .widget .tag-friend a {
    border: 0;
    text-decoration:none;
}
.widget .tag-cloud a:hover {
    background:#e67e22;
    color:#ffffff;
    transition:all 0.3s ease-in-out ;
}
.carousel-inner{
    width:100%;
    margin: 0 auto;
}
.carousel-indicators{
    bottom:-40px;
}

.sencond-bg{
    width:100%;
    min-height: 700px;

}
#sencondbg{
    background-color: #1a1a1a;
}

#secondpage{
    color: #e67e22;
}
.sencond-title{
    font-size: 40px;
    text-align: center;
}

.music163 img {
    display: block;
    height: auto;
    max-width: 100%;
}


.sencondcontent h1{
    font-size: 40px;
    line-height: 75px;
}
.sencondcontent p{
    font-size: 20px;
    line-height: 35px;
}

#thirdpage{
    color: #e67e22;
}

.thridpage-bg{
    width:100%;
    min-height: 700px;
}
#thridpagebg{
    background-color: #1a1a1a;
}

.thrid-title{
    margin-top: 50px;
    font-size: 40px;
    text-align: center;
}

.thirdcontent h1{
    font-size: 40px;
    line-height: 75px;
}
.thirdcontent p{
    font-size: 20px;
    line-height: 35px;
}



.fourth-bg{
    width:100%;
    min-height: 700px;

}
#fourthbg{
    background-color: #1a1a1a;
}

#fourthpage{
    color: #e67e22;
}
.fourth-title{
    font-size: 40px;
    text-align: center;
}

.music163 img {
    display: block;
    height: auto;
    max-width: 100%;
}


.fourthcontent h1{
    font-size: 40px;
    line-height: 75px;
}
.fourthcontent p{
    font-size: 20px;
    line-height: 35px;
}








a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}
a:hover{
    color: #555;
}
.nav-tabs-alt .nav-tabs>li.active>a {
    border-bottom-color: #23b7e5!important;
}
.nav-tabs-alt .nav-tabs>li>a {
    background: transparent!important;
    border-color: transparent!important;
    border-bottom-color: #dee5e7!important;
    border-radius: 0;
}
.nav-tabs>li.active>a {
    border-bottom-color: #fff!important;
}
.nav-tabs>li:hover>a, .nav-tabs>li.active>a, .nav-tabs>li.active>a:hover {
    border-color: #dee5e7;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}
.nav-tabs>li>a {
    border-bottom-color: #dee5e7;
    border-radius: 2px 2px 0 0;
}
.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
    line-height: 30px;
}
.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
}
.nav>li {
    position: relative;
    display: block;
}
.nav-tabs {
    border-color: #dee5e7;
}